/*******alert弹出层样式*********/
.container-alert{
	background: rgba(0,0,0,.5);
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index: 9999;
}
.alert-view{
	width:300px;
	background:#fff;
	position: relative;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	box-shadow:rgba(0,0,0,.2) 4px 4px 2px; /* Opera */
    -moz-box-shadow:rgba(0,0,0,.2) 4px 4px 2px; /* Firefox */
    -webkit-box-shadow:rgba(0,0,0,.2) 4px 4px 2px; /* Safiri, Chrome */
    filter:
progid:DXImageTransform.Microsoft.Shadow(color=#0e0f0e,direction=90,strength=4)
progid:DXImageTransform.Microsoft.Shadow(color=#0e0f0e,direction=180,strength=4)
progid:DXImageTransform.Microsoft.Shadow(color=#0e0f0e,direction=270,strength=4);/* IE */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
    -html-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    not supported by any browser */
}
.alert-text{
	min-height:80px;
	padding:20px 20px 60px;
	line-height:1.5;
	font-size:16px;
	color:#6c6c6c;
}
.alert-buttons{
	width:100%;
	height:40px;
	line-height:40px;
	text-align: center;
	border-top:1px solid #ddd;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.confirm-ok{border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    bottom: 0;
    color: #333;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
    cursor: pointer;
}
.confirm-calcel{
	left:0;
	right:auto;
}

.dialog-view{
	width:600px;
}
.dialog-view h2{
	height:40px;
	line-height:40px;
	padding:0 10px 0 16px;
	font-size:16px;
	color:#fff;
	background:#ca2d2d;
	overflow:hidden;
}
.dialog-view .alert-text{
	color:#434343;
}
.dialog-view .btn-close{
	width:32px;
	height:32px;
	margin-top:4px;
	background:url(../images/close.png) center no-repeat;
	background-size: 16px 16px;
	cursor: pointer;
	float:right;
}
.dialog-submit{
	height:45px;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
}
.dialog-view .confirm-ok{
    width: 100px;
    height: 30px;
    line-height : 30px;
    margin: 0 15px;
    border: none;
    font-size: 14px;
    text-align: center;
    background: #CA2D2D;
    color: #fff;
    display: inline-block;
    position: static;
}
.dialog-view .confirm-calcel{
	background: #DFDCDC;
    color: #948A87
}
