body{background:#F5F5F5}
.login-form{width:376px;position:absolute;top:50%;left:50%;margin-left:-188px;margin-top:-250px;text-align:center}
.login-form li:nth-child(2){margin-top:30px}
.login-form li:nth-child(3){margin-top:25px}
.login-form li:nth-child(4){margin-top:30px}
.login-form li:nth-child(5){margin-top:18px}
.login-form li:nth-child(5) a{color:#CE4448}
.login-form li:nth-child(5) a:hover{text-decoration:underline}
.login-form input{width:355px;height:50px;line-height:50px;border:1px solid #EFEFEF;border-radius:4px;padding-left:10px;font-size:20px}
.login-form button{width:367px;height:50px;background:#ca2d2d;color:#fff;font-size:20px;border:1px solid}
.login-form button:hover{border:1px solid #9EA7B3}